<template>
  <div class="card-container" draggable @dragstart="dragging">
    <div class="card">
      <div class="card-content">        
        <p class="cardText">{{data.number + 1}}</p>
        <p class="cardText">{{data.grupo}}</p> 
        <p class="cardText">{{data.nombre}}</p>
        <p class="cardText">{{data.profesor}}</p>
        <p class="cardText">{{data.id}}</p>
        <Dropdown :options="classrooms"/>
      </div>
    </div>
  </div>
</template>

<script>
import Dropdown from "./Dropdown";
import EventBus from '../main';

export default {
  name: 'GroupCard',
  components: {
    Dropdown
  },
  props: {
    data: {},
    classrooms: {
        type: Array,
        required: true,
        default: [],
        note: 'Options of dropdown. An array of options with id and name',
      },
  },
  methods:{
    dragging(){
      // Emit an event to notify the parent a child is being dragging
      this.$emit(
        'startDragging',
        {
          finalHour: this.data.finalHour,
          finalDay:this.data.finalDay,
          position:this.data.number
        });
    } 
  }
}
</script>

<style scoped>
.card-container {
  user-select: none;
  display: flex;
  flex: 1;
  margin-bottom: 2%;
}
.cardText{
  font-size: 2vh;
  text-align: center;
}

.card-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

.card {
  display: flex;
  flex: 1;
}
</style>
