<template>
<nav class="navbar has-background-grey-darker" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <h1 class="title">Thanos.JS</h1>
  </div>
</nav>
</template>

<script>
export default {
  name: 'NabBar',
  props: {
    data: Object
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
.navbar-brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav{
    justify-content: center;
}

.title {
    color: white !important;
}
</style>
