<template>
  <div style="display: flex; flex: 1; justify-content: center;">
    <table class="table is-bordered">
      <thead>
        <tr>
          <th class="has-background-grey-dark">Hora</th>
          <th class="has-background-grey-dark">Lunes</th>
          <th class="has-background-grey-dark">Martes</th>
          <th class="has-background-grey-dark">Miércoles</th>
          <th class="has-background-grey-dark">Jueves</th>
          <th class="has-background-grey-dark">Viernes</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(hour,index) in schedule" :key="index">
          <td class="has-background-white-ter" v-if="index < 10">0{{parseInt(index)}}:00</td>
          <td class="has-background-white-ter" v-if="index >= 10">{{parseInt(index)}}:00</td>
          <td class="has-background-white-ter"
            v-for="(day,dayIndex) in hour"
            :key="dayIndex"
            @dragover="allowDrop"
            @drop="drop(index,dayIndex)"
          >
            <GroupCard
              v-for="(group,groupIndex) in day.groups"
              :key="groupIndex"
              :data="group"
              :classrooms="getClassrooms()"
              @startDragging="handleDrag"
              @classroom="setClassroom"
              />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
const axios = require("axios");
import GroupCard from "./GroupCard";
import Generator from '../../../Back/Generation/generation';
import mockData from '../../../Back/Generation/exampleData';
import { EventBus } from '../event-bus.js';

EventBus.$on('classroom', item => {
  console.log('classroom: ', item);
});

export default {
  name: "ScheduleComponent",
  components: {
    GroupCard
  },
  props: {
    msg: String,
  },
  data() {
    return {
      schedule: [],
      dragging: {}
    };
  },
  beforeMount() {
    // let response = await axios.get("http://localhost:3000/schedule");
    let formsData = JSON.parse(localStorage.getItem("data"));
    let classes = JSON.parse(localStorage.getItem('clases'));
    let generator = new Generator(formsData);
    let response = generator.generateSchedules();
    let data = response.schedule;

    for(let hour in classes){
      for(let c in classes[hour]){
        if(c != "profesor" && c != "apellidos_profesor" && c != "total_alumnos"){
          classes[hour][c].id = classes[hour][c].nombre_grupo + classes[hour][c].nombre_asignatura + classes[hour][c].total_alumnos_grupo;
          classes[hour][c].id = classes[hour][c].id.replace(/ /g, "").toLowerCase();
          classes[hour][c].id = btoa(classes[hour][c].id + Date.now());
          console.log('test', classes[hour][c]);
        }
      }
    }
    for (let hour in data) {
      data[hour].forEach((day, dayIndex) => {
        day.groups.forEach((group, groupIndex) => {
          group.number = groupIndex;
          group.initialDay = dayIndex;
          group.finalDay = dayIndex;
          group.intermediateDay = dayIndex;
          group.initialHour = hour;
          group.finalHour = hour;
          group.intermediateHour = hour;
          group.classroom = null;
        });
      });
    }
    data
    this.schedule = data;
  },
  methods: {
    getClassrooms(){
      let classrooms = [
        // {id:"-1.12", name:"-1.12"},
        // {id:"1.2", name:"1.2"},
        // {id:"-2.6", name:"-2.6"},
        // {id:"1.14", name:"1.14"}
      ];
      
      for(let cr of JSON.parse(localStorage.getItem("aulas"))){
        classrooms.push({
          id: cr.nombre,
          name: cr.nombre,
          capacity: cr.capacidad
        });
      }
      return classrooms;
    },
    allowDrop: ev => {
      ev.preventDefault();
    },
    handleDrag(data) {
      
      //Lets save the last position in a local object named dragging
      this.dragging = data;
    },
    //TODFIX: Event doesn't call handler
    setClassroom(classroom){
      // let currentCard = this.schedule[this.dragging.finalHour][
      //   this.dragging.finalDay
      // ].groups[this.dragging.position];
      // currentCard.classroom = classroom;
      console.log("Card", currentCard.classroom);
    },
    drop(dropHour, dropDay) {
      
      //First of all, lets retrive the object to put in the next position from the
      //schedule object (data center)
      let currentDragging = this.schedule[this.dragging.finalHour][
        this.dragging.finalDay
      ].groups[this.dragging.position];
      
      //Now, lets delete the item in its previous position
      if (
        currentDragging.finalHour === dropHour &&
          currentDragging.finalDay === dropDay
      ) {
        
        //eslint-disable-next-line
        console.log("No movement");
        return;
      } else {        
        
        //eslint-disable-next-line
        console.log("Movement");
        
        //because of the way js manage the arrays, we need to check if the position that we are deleting is the last
        //position of the array or not, if it is, then we just make a normal pop to the array
        if (
          currentDragging.number ===
          this.schedule[currentDragging.finalHour][currentDragging.finalDay]
            .groups.length -
            1
        ) {
          
          //eslint-disable-next-line
          console.log("Just Pop the array");
          this.schedule[currentDragging.finalHour][
            currentDragging.finalDay
          ].groups.pop();
        } else {
          
          //If it isn't the last position, then, we need the splice method to js make automatic re index of all the elements
          //eslint-disable-next-line
          console.log("Splice the array");
          this.schedule[currentDragging.finalHour][
            currentDragging.finalDay
          ].groups.splice(currentDragging.number, 1);
        }

        //After deleting from the array the previous position, let's update the new position of our 
        //object, and put in on the final position in our array
        currentDragging.finalDay=dropDay;
        currentDragging.finalHour=dropHour;
        currentDragging.number = this.schedule[dropHour][dropDay].groups.length;
        
        //eslint-disable-next-line
        console.log("Pushing into array");
        this.schedule[dropHour][dropDay].groups.push(currentDragging);
        console.log(this.schedule);        
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
table{
  box-shadow: 4px 4px 5px 0px #00000026;
}
td{
  /*background: #F6F6F6;*/
}
th{
  color: white !important;
  /* background: #2b4672;*/
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
