<template>
<div
  class="tabs is-toggle is-centered"
  style="padding: 2%; background-color: #5294e2;"
>
  <ul>
    <li v-if="$route.name !== 'Schedule'" @click="$router.replace('profesores')">
      <a style="background-color: white;">
        <span class="icon is-small">
          <i class="fas fa-users" />
        </span>
        <span>Profesores</span>
      </a>
    </li>
    <li v-if="$route.name !== 'Schedule'" @click="$router.replace('aulas')">
      <a style="background-color: white;">
        <span class="icon is-small">
          <i class="fas fa-chalkboard-teacher" />
        </span>
        <span>Aulas</span>
      </a>
    </li>
    <li v-if="$route.name !== 'Schedule'" @click="sendData()">
      <a style="background-color: white;">
        <span class="icon is-small">
          <i class="fas fa-pencil-alt" />
        </span>
        <span>Modificacion</span>
      </a>
    </li>
  </ul>
</div>
</template>

<script>

export default {
  data() {
    return {
      output: null,
    };
  },
  methods:{
    sendData() {
      let data = {
        "profesores": JSON.parse(localStorage.getItem("profesores")),
        "aulas": JSON.parse(localStorage.getItem("aulas")),
        "clases": JSON.parse(localStorage.getItem("clases"))
      }

      localStorage.setItem('data', JSON.stringify(data));

      this.$router.replace('ScheduleComponent');
    }
  }
}
</script>

<style scoped>
@import './../assets/css/Forms.css';
</style>
