.displayBox {
    background-color: #F8F8F8;
    height: 100%;
    width: 100%;
    border-radius: 8px;
    border-color: #dbdbdb;

    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  }

  .cardsContainer {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }

  .hourCell{
    background-color: #8CDD81;
    
  }