<template>
  <div id="app">
  <NavBar />
  <div class="container">
    &nbsp;
    <h1 style="font-size: 5vh">IP: {{this.MyIP}} </h1>
    &nbsp;
    <ScheduleComponent />
  </div>
  </div>
</template>

<script>
import ScheduleComponent from './components/ScheduleComponent.vue';
import NavBar from './components/NavBar.vue';
//import Formulario from './views/Formulario.vue';
//import TeacherForm from './views/TeacherForm.vue';
//import selectBar from './components/selectBar.vue';

export default {
  name: 'app',
  components: {
    ScheduleComponent,
    NavBar
    //Formulario,
    //TeacherForm,
    //selectBar
  },
  data: function() {
    return {
      MyIP: window.localStorage.getItem('MyIP')
    };
  },
  async beforeMount(){
    await this.getMyIP();
 },
  methods: {
    getMyIP(){
      window.localStorage.setItem('MyIP', null);
      window.RTCPeerConnection =
          window.RTCPeerConnection ||
          window.mozRTCPeerConnection ||
          window.webkitRTCPeerConnection; //compatibility for Firefox and chrome
      var pc = new RTCPeerConnection({
              iceServers: []
          }),
          noop = function() {};
      pc.createDataChannel(""); //create a bogus data channel
      pc.createOffer(pc.setLocalDescription.bind(pc), noop); // create offer and set local description
      pc.onicecandidate = async function(ice){
        if (ice && ice.candidate && ice.candidate.candidate) {
            var myIP = await /([0-9]{1,3}(\.[0-9]{1,3}){3}|[a-f0-9]{1,4}(:[a-f0-9]{1,4}){7})/.exec(
                ice.candidate.candidate
            )[1];
            // console.log("IP: ", myIP);
            window.localStorage.setItem('MyIP', myIP);
            pc.onicecandidate = noop;
        }
      }
    }
  },
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /*color: #2c3e50;*/
  background: #f6f6f624;
}
</style>
