<template>
<div >
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <selectBar/>
  <div style="padding-left: 5%; padding-top: 2%; padding-bottom: 5%; padding-right: 5%;">
    <router-view/>
  </div>
</div>
</template>

<script>
import Formulario from './views/Formulario.vue'
import TeacherForm from './views/TeacherForm.vue'
import selectBar from './components/selectBar.vue'

export default {
  name: 'app',
  components: {
    Formulario,
    TeacherForm,
    selectBar
  },
};
</script>

<style>
@import "~bulma/css/bulma.css";
</style>
