<template>
  <div class="card-container" draggable="true"  v-on:dragstart="dragging">
    <div class="card">
      <div class="card-content">        
        <p class="cardText">{{data.grupo}}</p> 
        <p class="cardText">{{data.nombre}}</p>
        <div class="media">
          <figure class="image is-24x24">
            <img src="./../assets/user.jpg">
          </figure>
        </div>
        <p class="cardText">{{data.Profesor}}</p>
        <p class="cardText">{{data.number}}</p>        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'GroupCard',
  props: {
    data: Object
  },
  methods:{
    dragging(){
      //Emit an event to notify the parent a child is being dragging
      this.$emit('startDragging',{finalHour:this.data.finalHour,finalDay:this.data.finalDay,position:this.data.number});
    }    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.card-container {
  width: 50%;
  padding:1%;  
  display: inline-block;
}
.cardText{
  font-size: 50%;
}
</style>
