<template>
  <div>
    <table class="table is-bordered is-fullwidth">
      <thead>
        <tr>
          <th>Hora</th>
          <th>Lunes</th>
          <th>Martes</th>
          <th>Miércoles</th>
          <th>Jueves</th>
          <th>Viernes</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(hour,index) in schedule" :key="index">
          <td>{{parseInt(index)}}</td>
          <td
            v-for="(day,dayIndex) in hour"
            :key="dayIndex"
            v-on:dragover="allowDrop"
            v-on:drop="drop(index,dayIndex)"
          >
            <GroupCard
              v-for="(group,groupIndex) in day.groups"
              :key="groupIndex"
              :data="group"
              @startDragging="handleDrag"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
const axios = require("axios");
import GroupCard from "./GroupCard";
export default {
  name: "ScheduleComponent",
  components: {
    GroupCard
  },
  props: {
    msg: String
  },
  data: function() {
    return {
      schedule: [],
      dragging: {}
    };
  },
  async beforeMount() {
    let response = await axios.get("http://localhost:3000/schedule");
    let data = response.data;
    for (let hour in data) {
      data[hour].forEach((day, dayIndex) => {
        day.groups.forEach((group, groupIndex) => {
          group.number = groupIndex;
          group.initialDay = dayIndex;
          group.finalDay = dayIndex;
          group.intermediateDay = dayIndex;
          group.initialHour = hour;
          group.finalHour = hour;
          group.intermediateHour = hour;
        });
      });
    }
    this.schedule = data;
  },
  methods: {
    allowDrop: ev => {
      ev.preventDefault();
    },
    handleDrag(data) {
      //Lets save the last position in a local object named dragging
      this.dragging = data;
    },
    drop(dropHour, dropDay) {
      //First of all, lets retrive the object to put in the next position from the
      //schedule object (data center)
      let currentDragging = this.schedule[this.dragging.finalHour][
        this.dragging.finalDay
      ].groups[this.dragging.position];
      //Now, lets delete the item in its previous position
      if (
        currentDragging.finalHour == dropHour &&
        currentDragging.finalDay == dropDay
      ) {
        //eslint-disable-next-line
        console.log("No movement");
        return;
      } else {        
        //eslint-disable-next-line
        console.log("Movement");
        //because of the way js manage the arrays, we need to check if the position that we are deleting is the last
        //position of the array or not, if it is, then we just make a normal pop to the array
        if (
          currentDragging.number ==
          this.schedule[currentDragging.finalHour][currentDragging.finalDay]
            .groups.length -
            1
        ) {
          //eslint-disable-next-line
          console.log("Just Pop the array");
          this.schedule[currentDragging.finalHour][
            currentDragging.finalDay
          ].groups.pop();
        } else {
          //If it isn't the last position, then, we need the splice method to js make automatic re index of all the elements
          //eslint-disable-next-line
          console.log("Splice the array");
          this.schedule[currentDragging.finalHour][
            currentDragging.finalDay
          ].groups.splice(currentDragging.number, 1);
        }

        //After deleting from the array the previous position, let's update the new position of our 
        //object, and put in on the final position in our array
        currentDragging.finalDay=dropDay;
        currentDragging.finalHour=dropHour;
        currentDragging.number=this.schedule[dropHour][dropDay].groups.length;
        //eslint-disable-next-line
        console.log("Pushing into array");
        this.schedule[dropHour][dropDay].groups.push(currentDragging);        
      }
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
