<template>
<div class="columns">
  <div class="column is-two-thirds">
    <div class="columns">
      <div class="column">
        <label class="label">Numero de Aula</label>
        <div class="control">
          <input
            v-model="aulaName"
            class="input"
            type="text"
            placeholder="Ej: -2.2"
          />
        </div>
      </div>
      <div class="column">
        <label class="label">Capacidad de Aula</label>
        <div class="control">
          <input
            v-model="aulaCapacity"
            class="input"
            type="number"
            placeholder="Ej: 40"
          />
        </div>
      </div>
      <div class="column is-one-fifth">
        <label class="label">Planta</label>
        <div class="select">
          <select v-model="aulaPlanta">
            <option v-for="(item, index) in plantas" :key="index">
              {{ item }}
            </option>
          </select>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <div>
          <label class="label">Agregar Caracteristicas</label>
          <div class="field has-addons">
            <div class="control">
              <input
                v-model="caracteristicaAdd"
                class="input"
                type="text"
                placeholder="Ej: Photoshop"
              />
            </div>
            <div class="control">
              <button class="button is-info" @click="addNewCaracteristica()">
                Agregar
              </button>
            </div>
          </div>
        </div>
        <br />
        <label class="label">Características de Aula</label>
        <div class="list is-hoverable">
          <a
            class="list-item"
            v-for="(c, index) in aulaCaract"
            :class="{'is-active':c.active}"
            :key="index"
            @click="markedCharacteristic(index)"
          >
            {{ c.text }}
          </a>
        </div>
        <label class="label">Descripción de Aula</label>
        <textarea v-model="aulaDesc" class="textarea" placeholder="Ej: ..." />
        <br />
        <button type="button" @click="clickSaveAula" class="button is-success">
          <span class="icon is-small">
            <i class="fas fa-check" />
          </span>
          <span>Guardar Aula</span>
        </button>
        &nbsp;
        <button type="button" @click="clickNuevaAula" class="button">
          <span>Nueva Aula</span>
        </button>
      </div>
    </div>
  </div>
  <div class="column auto">
    <div class="displayBox">
      <div class="field is-grouped is-grouped-multiline cardsContainer">
        <p class="control" v-for="(item, index) in aulas" :key="index">
          <button
            @click="clickSelectAula(index)"
            class="button"
            :class="{'is-active':index===aulaIndex}"
          >
            {{item.nombre}}
          </button>
        </p>
      </div>
    </div>
  </div>
</div>
</template>

<script>
  let t = require("./../js/controllers/aulaFormController");
  let controller = new t.default();

  export default {
    name: 'Formulario',
    data() {
      return {
        plantas: controller.getplantas(),
        aulas: controller.getAulas(),
        aulaIndex: -1,
        aulaName: null,
        aulaCapacity: null,
        aulaPlanta: null,
        aulaDesc: null,
        aulaCaract: controller.mapCaractForView(),
        caracteristicaAdd: null,
      };
    },
    props: {
      msg: String,
    },
    mounted() {
      localStorage.setItem("aulas", null);
      localStorage.setItem("aulas",JSON.stringify(controller.getAulas()));
    },
    methods: {
      clickSaveAula() {
        // TODO - Check for correct or complete information
        if (!this.aulaName) return;
        let caract = controller.mapCaractForController(this.aulaCaract);
        let aula = controller.createAula(
          this.aulaName,
          this.aulaPlanta,
          this.aulaCapacity,
          this.aulaDesc,
          caract
        );
        this.aulaIndex = controller.saveAula(aula);

        localStorage.setItem("aulas",JSON.stringify(controller.getAulas()));
      },
      clickSelectAula(index) {
        this.setAula(index)
      },
      clickNuevaAula() {
        // TODO - Ask if whant to save changes
        this.setAula();
      },
      markedCharacteristic(index) {
        this.aulaCaract[index].active = !this.aulaCaract[index].active;
      },
      setCaracteristicasToDefault() {
        this.aulaCaract = controller.mapCaractForView();
      },
      setAulaToDefault() {
        this.aulaIndex = 0;
        this.aulaName = null;
        this.aulaCapacity = null;
        this.aulaPlanta = null;
        this.aulaDesc = null;
        this.setCaracteristicasToDefault();
      },
      setAula(index = 0) {
        if (index === 0) {
          this.setAulaToDefault();
          return;
        }
        var a = this.aulas[index];
        this.aulaIndex = index;
        this.aulaName = a.nombre;
        this.aulaCapacity = a.capacidad;
        this.aulaPlanta = a.planta;
        this.aulaDesc = a.descripcion;
        this.setCaracteristicasToDefault();
        this.setCaracteristicasFromAula(a);
      },
      setCaracteristicasFromAula(aula = null) {
        if (!aula) aula = this.aulas[this.aulaIndex];

        for (let i = 0; i < this.aulaCaract.length; i += 1) {
          aula.caracteriticas && aula.caracteriticas.forEach(e => {
            if (e === this.aulaCaract[i].text) this.aulaCaract[i].active = true;
          });
        }
      },
      addNewCaracteristica() {
        if (!this.caracteristicaAdd) return;
        controller.addNewCaracteristica(this.caracteristicaAdd)
        this.setCaracteristicasToDefault();
        this.setCaracteristicasFromAula();
        this.caracteristicaAdd = null;
      }
    },
    beforeUpdate() {
      this.aulas = controller.getAulas();
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  @import './../assets/css/Forms.css';
</style>
