<template>
<div>
  <div class="columns">
    <div class="column is-narrow">
      <br />
      <label class="label">Selecciona un Profesor</label>
      <div class="select is-multiple">
        <select multiple size="14">
          <option
            v-for="(i, id) in profesores"
            value="i.id"
            :selected="id === profesorIndex"
            :key="id"
            @click="clickSelectProfesor(id)"
          >
            {{ i.id }}
          </option>
        </select>
      </div>
    </div>
    <div class="column">
      <h1 class="title">
        Profesor seleccionado:
        {{
          profesores[profesorIndex].nombre
          + ' '
          + profesores[profesorIndex].apellidos
        }}
      </h1>
      <table class="table is-bordered is-fullwidth">
        <thead>
          <tr>
            <th style="text-align: center;">Hora</th>
            <th
              v-for="(i, index) in workTime.days"
              style="text-align: center;"
              :key="index"
            >
              {{ tableDays[i-1] }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(hour, i1) in workTime.totalTime" :key="i1">
            <th style="text-align: center;">
              {{ hour+workTime.startTime - 1 }}:00
            </th>
            <td
              v-for="(day, i2) in workTime.days"
              @click="clickOnTable(day - 1, hour+workTime.startTime - 1)"
              :key="i2"
              :id="(day-1)+'-'+(hour+workTime.startTime-1)"
            />
          </tr>
        </tbody>
      </table>
    </div>
    <div class="column is-narrow">
      <br />
      <div class="field is-grouped">
        <button
          @click="saveProfesor()"
          class="button is-link"
          :disabled="profesorIndex === -1"
        >
          Guardar Profesor
        </button>
      </div>
      <div class="field is-grouped">
        <button @click="resetTableCells()" class="button" style="width: 100%;">
          Limpiar
        </button>
      </div>
    </div>
  </div>
</div>
</template>

<script>
let t = require("./../js/controllers/teacherFromController");
let controller = new t.default();

export default {
  name: 'Teacher',
  data() {
    return {
      tableDays: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado", "Domingo"],
      tableCells: controller.getEmptyTableCells(),
      profesores: controller.getProfesores(),
      workTime: controller.getWorkTime(),
      profesorIndex: 0,
    }
  },
  mounted() {
    localStorage.setItem("profesores", null);
    localStorage.setItem("profesores", JSON.stringify(controller.getProfesores()));

    this.clickSelectProfesor(0);
  },
  methods: {
    clickOnTable(day, hour, $event) {
      this.tableCells[hour][day] = (this.tableCells[hour][day]) ? 0 : 1;

      document.getElementById(`${day}-${hour}`)
        .className = (this.tableCells[hour][day]) ? "hourCell" : null;
    },
    resetTableCells() {
      this.tableCells = controller.getEmptyTableCells();

      for (let h = 0; h < 24; h += 1) {
        for (let d = 0; d < 7; d += 1) {
          let c = document.getElementById(`${d}-${h}`);

          if (c) c.className = '';
        }
      }
    },
    clickSelectProfesor(index) {
      this.setProfesor(this.profesores[index], index);
    },
    setProfesor(profesor, index = 0) {
      this.clearProfesorSelection();
      this.setTableCells(profesor.disponibilidad);
      this.profesorIndex = index;
    },
    setTableCells(tableCells) {
      if (!tableCells && tableCells.lenght < 24 && tableCells[0].lenght < 7) return;

      for (let h = 0; h < 24; h += 1) {
        for (let d = 0; d < 7; d += 1) {
          this.tableCells[h][d] = (tableCells[h][d])? 1 : 0;

          let c = document.getElementById(`${d}-${h}`);

          if (c) {
            if (tableCells[h][d])
              c.className = "hourCell";
            else
              c.className = null;
          }
        }
      }
    },
    saveProfesor() {
      let p = this.profesores[this.profesorIndex];
      let np = controller.createProfesor(p.id, p.nombre, p.apellidos, Array.from(this.tableCells));
      this.profesorIndex = controller.saveProfesor(np);
      localStorage.setItem("profesores", JSON.stringify(controller.getProfesores()));

      // FIXME: Get classes from SG.
      localStorage.setItem("clases", JSON.stringify([
        {
          profesor: 'sansa.stark',
          apellidos_profesor: 'Stark',
          total_alumnos: 50,
          0: {
            nombre_grupo: 'IIAA3201',
            nombre_asignatura: 'Inglés III',
            total_alumnos_grupo: 40,
          },
          1: {
            nombre_grupo: 'CMAMO1201',
            nombre_asignatura: 'Inglés I',
            total_alumnos_grupo: 10,
          },
        },
        {
          profesor: 'daenerys.targaryen',
          apellidos_profesor: 'Targaryen',
          total_alumnos: 50,
          0: {
            nombre_grupo: 'IIAA3201',
            nombre_asignatura: 'Inglés III',
            total_alumnos_grupo: 40,
          },
          1: {
            nombre_grupo: 'CMAMO1201',
            nombre_asignatura: 'Inglés I',
            total_alumnos_grupo: 10,
          },
        },
        {
          profesor: 'eddard.stark',
          apellidos_profesor: 'Stark',
          total_alumnos: 50,
          0: {
            nombre_grupo: 'IIAA3201',
            nombre_asignatura: 'Inglés III',
            total_alumnos_grupo: 40,
          },
          1: {
            nombre_grupo: 'CMAMO1201',
            nombre_asignatura: 'Inglés I',
            total_alumnos_grupo: 10,
          },
        },
        {
          profesor: 'jon.snow',
          apellidos_profesor: 'Snow',
          total_alumnos: 50,
          0: {
            nombre_grupo: 'IIAA3201',
            nombre_asignatura: 'Inglés III',
            total_alumnos_grupo: 40,
          },
          1: {
            nombre_grupo: 'CMAMO1201',
            nombre_asignatura: 'Inglés I',
            total_alumnos_grupo: 10,
          },
        }
      ]));
    },
    clearProfesorSelection() {
      this.profesorIndex = 0;
      this.resetTableCells();
    }
  },
  beforeUpdate() {
    this.profesores = controller.getProfesores();
  }
}
</script>

<style scoped>
@import './../assets/css/Forms.css';
</style>
